[submodule "app/src/main/jniLibs"]
	path = app/src/main/jniLibs
	url = https://github.com/mppjuro/jniLibs.git
	branch = main
[submodule "opencv"]
	path = opencv
	url = https://github.com/mppjuro/opencv
